

.welcome{
	color: white;
	text-align: center;
	font-family: 'Gloria Hallelujah', cursive;
	color:white;
}





.body {
	background-image: url("background1.jpg");
	margin: -5px;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: 'Gloria Hallelujah', cursive;
	color: white;

}

.namebox {
	padding: 20px;

}

.buttons {
	padding: 30px;


}

.aboutme {
	padding: 20px;
	text-align: center;
}

.contactme {
	padding: 20px;
	text-align: center;

}

#subject {
	height: 400px;
	widows: 400px;
}

.footer {
	text-align: center;
}

.contact {
	background-image: url("background2.jpg");
	color: white;
	font-family: 'Gloria Hallelujah', cursive;
}

.contactform {
	text-align: center;
	align-items: center
}

#portfolio {
	background-image: url("background3.jpg");
	font-family: 'Gloria Hallelujah', cursive;
	color: white;
}

.myportfolio {
	text-align: center;
	border: 4px;

}

.art1 {
	background-image: url("art1.jpg");
	height: 200px;
	width: 200px;
	float: left;
	padding: 10px;
	border-radius: 12px;
	margin: 15px;
}

.artwork1 {
	background-image: url("art1.jpg")
}





.art2 {
	background-image: url("art2.jpg");
	height: 200px;
	width: 200px;
	float: right;
	padding: 20px;
	border-radius: 12px;
	margin: 15px;


}

.art3 {
	background-image: url("art3.jpg");
	height: 200px;
	width: 200px;
	float: right;
	padding: 10px;
	border-radius: 12px;
	margin: 15px;
	

}

.art4 {
	background-image: url("art4.jpg");
	height: 200px;
	width: 200px;
	float: left;
	padding: 10px;
	border-radius: 12px;
	margin: 15px;
}






